div#review-form form input {
    width: 100%;
}
section#reviews {
    position: relative;
    top: 25vh;
}

h1 {
    text-align: center;
}

table {
    padding: 3em;
    border-radius: 2em;
    border: 3px solid #194b91;
    position: relative;
    left: 25vw;
}

tr td {
    background-color: #fff;
    padding: 1em;
    border-radius: 0.5em;
}

div#review-form {
    position: relative;
    top: 25vh;
    left: 25vw;
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 2em;
    padding: 1em;
}

div#review-form form {
    width: 50vw;
}