section#reviews {
    position: relative;
    top: 25vh;
    
}

section#reviews button {
    background-color: #194b91;;
}

section#reviews button[disabled] {
    background-color: #cecece;
}

h1 {
    text-align: center;
}

table {
    padding: 3em;
    border-radius: 2em;
    border: 3px solid #194b91;
    position: relative;
    left: 25vw;
}

tr td {
    background-color: #fff;
    padding: 1em;
    border-radius: 0.5em;
}

